.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background-color: rgba(0, 65, 205, 0.166);
}
  
.link {
  text-decoration: none;
  font-size: 20px;
  color: mediumblue;
  padding: 30px 80px;
}
  
.link:hover {
  background-color: rgba(0, 0, 205, 0.103);
}
  